after-login-command = []
after-startup-command = []

start-at-login = false

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 30

default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

automatically-unhide-macos-hidden-apps = false

[key-mapping]
    preset = 'qwerty'

[gaps]
    inner.horizontal = 10
    inner.vertical =   10
    outer.left =       10
    outer.bottom =     10
    outer.top =        10
    outer.right =      10

[mode.main.binding]

    alt-slash = 'layout tiles horizontal vertical'
    alt-comma = 'layout accordion horizontal vertical'

    alt-h = 'focus left'
    alt-j = 'focus down'
    alt-k = 'focus up'
    alt-l = 'focus right'

    alt-shift-h = 'move left'
    alt-shift-j = 'move down'
    alt-shift-k = 'move up'
    alt-shift-l = 'move right'

    alt-minus = 'resize smart -50'
    alt-equal = 'resize smart +50'

    alt-a = 'workspace A' # Any: Docker, Postman... 
    alt-b = 'workspace B' # Browser
    alt-d = 'workspace D' # Document/Finder
    alt-m = 'workspace M' # Music
    alt-n = 'workspace N' # Note
    alt-p = 'workspace P' # Edit Photo
    alt-r = 'workspace R' # Reading
    alt-t = 'workspace T' # Terminal
    alt-v = 'workspace V' # Edit Video
    alt-w = 'workspace W' # Work: Slack, Trello, Discord,...

    alt-shift-a = 'move-node-to-workspace A'
    alt-shift-b = 'move-node-to-workspace B'
    alt-shift-d = 'move-node-to-workspace D'
    alt-shift-m = 'move-node-to-workspace M'
    alt-shift-n = 'move-node-to-workspace N'
    alt-shift-p = 'move-node-to-workspace P'
    alt-shift-r = 'move-node-to-workspace R'
    alt-shift-t = 'move-node-to-workspace T'
    alt-shift-v = 'move-node-to-workspace V'
    alt-shift-w = 'move-node-to-workspace W'

    alt-shift-f = 'fullscreen'
    alt-tab = 'workspace-back-and-forth'
    alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

    alt-shift-semicolon = 'mode service'

[mode.service.binding]
    esc = ['reload-config', 'mode main']
    r = ['flatten-workspace-tree', 'mode main']
    f = ['layout floating tiling', 'mode main']
    backspace = ['close-all-windows-but-current', 'mode main']

    alt-shift-h = ['join-with left', 'mode main']
    alt-shift-j = ['join-with down', 'mode main']
    alt-shift-k = ['join-with up', 'mode main']
    alt-shift-l = ['join-with right', 'mode main']

    down = 'volume down'
    up = 'volume up'
    shift-down = ['volume set 0', 'mode main']

[[on-window-detected]]
    if.app-id = 'org.mozilla.firefox'
    run = "move-node-to-workspace B"

[[on-window-detected]]
    if.app-id = 'com.apple.Safari'
    run = "move-node-to-workspace B"

[workspace-to-monitor-force-assignment]
    B = 'main'
    T = 'secondary'
